.hero
  = render 'layouts/header'

  .container
    .hero__content
      %p.hero__hint
        Deadline: November 15, 2017

      %h1.hero__title
        RewardExpert Offers Study Abroad Scholarships for College Students

      %p.hero__text
        “Experience, travel – these are as education in themselves”
        &mdash; Euripides
